body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../Images/abstract-background-with-squares/5570863.jpg"); 
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
   
}



.dot {
    height: 75px;
    width: 75px;
    background-color: rgb(78, 78, 78);
    border-radius: 50%;
    display: inline-block;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
    vertical-align: center;
}

.bi{
    color: rgba(255,255,255,0.8);
    
  }

 .icon-text > p{
    font-size: .9rem;
    color: rgb(78, 78, 78);
    border-bottom: 1px solid rgb(78, 78, 78);
    font-weight: 200;
    
  }

  .icon-text > p > a{
      color: rgb(78, 78, 78);
      text-decoration: none;
  }

  h1 {

      font-weight: 300;
  }

  #greeting {
      color: rgb(78, 78, 78);
      font-size: 1.2rem;
      font-weight: 200;
  }

  @media (min-width: 0px) {
    .info-content{
        width: 100%;
    }
}
  @media (min-width: 960px) {
    .info-content{
        width: 75%;
    }
  }