body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../Images/abstract-background-with-squares/5570863.jpg"); 
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
   
}

#name{
    color:#304545;
}

h1, .type-h1 {
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}